
<script>

    $(document).ready(function () {
        $('.filetree').fileTree({
            script: '@Url.Action("GetHosts", "Home")',
            folderEvent: 'dblclick'
        }).on('filetreeexpand', function (e, data) { console.log(data); })
        .on('filetreeexpanded', function (e, data) { console.log(data); })
        .on('filetreecollapsed', function (e, data) { console.log(data); })
        .on('filetreecollapse', function (e, data) { console.log(data); })
        .on('filetreechecked', function (e, data) { console.log(data); })
        .on('filetreeunchecked', function (e, data) { console.log(data); })
        .on('filetreeclicked', function (e, data) {
            $(e).dropdown('toggle');
            console.log(data);
        });
    });
</script>
<div class="row">
    <div class="col-lg-12">
        <button type="button" class="btn btn-primary btn-xs" onclick="Libvirt.UI.OpenDialog_sm('@Url.Action("_Partial_Connect_ToHost_Form")'); return false;">New Host</button>
        <h3>Hosts</h3>
        <div class="filetree">
        </div>
    </div>
</div>

