@model Libvirt_WebManager.Areas.Storage_Pool.Models.Storage_Pool_TreeViewDown

<ul>
    @foreach (var pool in Model.Pools)
    {
        var dname = pool.virStoragePoolGetName();
        Libvirt._virStoragePoolInfo info;
        pool.virStoragePoolGetInfo(out info);

        var li_id = "x" + Model.Host.Replace(".", "_") + "_StoragePools_" + dname;
        <li id="@(li_id)">
            <input type="checkbox" id="item-@(li_id)" data-urlpart="@Url.Action("_Partial_GetVolumes", "TreeListing", new { Area="Storage_Pool", host = Model.Host, pool = dname })" />
            <label for="item-@(li_id)" onclick="return false;">
                <span></span>
                <i class="fa fa-database"></i>
                <a href="#" onclick="LoadMainContent('@Url.Action("_Partial_DetailsMainContent", "Listing", new {Area="Storage_Pool", host = Model.Host, pool = dname})');return false;" data-html="true" data-toggle="tooltip" data-placement="right" title="Pool:@dname<br>Status:@info.state.ToString().Split('_').LastOrDefault()<br>allocation:@Libvirt_WebManager.Utilities.String.Formatting.Format((long)info.allocation)<br>available:@Libvirt_WebManager.Utilities.String.Formatting.Format((long)info.available)<br>capacity:@Libvirt_WebManager.Utilities.String.Formatting.Format((long)info.capacity)<br>">@dname</a>
            </label>

        </li>
    }
</ul>
<script>
    $(document).ready(function () {
        @foreach (var pool in Model.Pools)
    {
            var li_id = "x" + Model.Host.Replace(".", "_") + "_StoragePools_" + pool.virStoragePoolGetName();
            <text>registercallsbacks('@li_id');</text>
    }
    });
</script>
