@model Libvirt_WebManager.Areas.Storage_Pool.Models.Storage_Volume_TreeViewDown

<ul>

    @foreach (var volume in Model.Volumes)
    {
        var info = volume.virStorageVolGetInfo();

        var li_id = "x" + Model.Host.Replace(".", "_") + "StoragePools_Volume_" + info.name;
        <li id="@(li_id)" data-html="true" data-toggle="tooltip" data-placement="right" title="Volume:@info.name<br>Type:@info.Volume_Type.ToString().Split('_').LastOrDefault()<br>allocation:@Libvirt_WebManager.Utilities.String.Formatting.Format((long)info.allocation)<br>capacity:@Libvirt_WebManager.Utilities.String.Formatting.Format((long)info.capacity)<br>">
            <a href="#">
                @if (info.Volume_Type == Libvirt.Models.Concrete.Storage_Volume.Volume_Types.iso)
                {
                    <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>
                }
                else
                {
                    <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
                }
                @info.name
            </a>
        </li>
    }
</ul>





