

<script>
    function AddHost(hostname) {
        if ($('#hosttreeul').children('ul').length == 0) $('#hosttreeul').append('<ul></ul>');

        addnode($('#hosttreeul > ul:first'), generaterandomid(), hostname, '@Url.Action("GetHosts", "Home")?dir=/' + hostname + '/');
    }

    function generaterandomid() {
        return '_' + Math.random().toString(36).substr(2, 9);
    }
    function registercallsbacks(id) {
        $('#' + id).on("remove", function () { context.destroy($(this).attr('id')); });
        $('#item-' + id).change(function () {
            if ($(this).is(':checked')) {
                var t = $(this).attr('data-urlpart');
                var liemenet = $(this).parent();
                $.get(t, function (data) {
                    $(liemenet).append(data);
                });
            } else {
                $(this).parent().children('ul').remove();//remove any children
                $(this).parent().children('script').remove();//remove any children
            }
        }).parent().children('label').first().dblclick(function () {
           $("#item-" + id).prop('checked', !$("#item-" + id).prop('checked'));
           $("#item-" + id).change();
           return false;
       }).children('span').first().click(function () {
            $("#item-" + id).prop('checked', !$("#item-" + id).prop('checked'));
            $("#item-" + id).change();
            return false;
        });
    }

    $(document).ready(function () {
        $('#hosttreeul').load('@Url.Action("_Partial_GetHosts_TreeView", "Host")');
    });
</script>
<div class="row">
    <div class="col-lg-12">
        <button type="button" class="btn btn-primary btn-xs" onclick="Libvirt.UI.OpenDialog_sm('@Url.Action("_Partial_Connect_ToHost_Form", "Host")'); return false;">New Host</button>
        <h3>Hosts</h3>
        <div id="newhostingarea">
            <div id="hosttreeul" class="tree">
            </div>
        </div>
    </div>
</div>

