@model Libvirt_WebManager.Areas.Network.Models.Create_Network_Down
<div class="page-header">
    <h2>
        @Model.Parent
    </h2>
</div>
<div class="row">
    <div class="col-sm-12">
        @Html.Partial("_Partial_Edit", Model)
    </div>
</div>

