@model Libvirt_WebManager.Areas.Domain.Models.Domain_Down
@{
    Libvirt.virDomainState state;
    var i = 0;
    Model.Domain.virDomainGetState(out state, out i);
}
<div class="page-header">
    <h2>
        @Model.Domain.virDomainGetName()
        @if (state == Libvirt.virDomainState.VIR_DOMAIN_RUNNING)
        {
            <a href="#" onclick="LoadMainContent('@Url.Action("_Partial_Console", "Details", new { Area = "Domain", host = Model.Host, domain = Model.Parent })');return false;">
                <i class="fa fa-desktop"></i>
            </a>
        }
        else
        {
            <i class="fa fa-desktop"></i>
        }
    </h2>
</div>
<div class="row">
    <div class="col-sm-12">

    </div>
</div>


