@model Libvirt_WebManager.Areas.Network.Models.Create_Network_Down
<div class="page-header">
    <h2>
        Create Network
    </h2>
</div>
<div class="row">
    <div class="col-sm-12">
        @Html.Partial("~/Areas/Network/Views/Edit/_Partial_Edit.cshtml", Model)
    </div>
</div>

