@model Libvirt.CS_Objects.Host
@{
    Libvirt.CS_Objects.Storage_Pool[] p = new Libvirt.CS_Objects.Storage_Pool[0];
}
@if (Model != null)
{
    <ul>
        @try
        {
            if (Model.virConnectListAllStoragePools(out p, 0) > -1)
            {
                foreach (var pool in p)
                {
                    var dname = pool.virStoragePoolGetName();
                    Libvirt._virStoragePoolInfo info;
                    pool.virStoragePoolGetInfo(out info);
                    
                    var li_id = "x" + ViewBag.HostName.Replace(".", "_") + "StoragePools_" + dname;
                    <li id="@(li_id)" >
                        <input type="checkbox" id="item-@(li_id)" data-urlpart="@Url.Action("_Partial_GetVolumes_TreeView", "Domain", new { host = ViewBag.HostName, pool = dname })" />
                        <label for="item-@(li_id)" onclick="return false;"data-html="true" data-toggle="tooltip" data-placement="right" title="Pool:@dname<br>Status:@info.state.ToString()<br>allocation:@Libvirt_WebManager.Utilities.String.Formatting.Format((long)info.allocation)<br>available:@Libvirt_WebManager.Utilities.String.Formatting.Format((long)info.available)<br>capacity:@Libvirt_WebManager.Utilities.String.Formatting.Format((long)info.capacity)<br>"><span></span><span class="icon storage_pool_icon"></span>@dname</label>

                    </li>
                }
            }
        }
        catch (Exception e)
        {

        }
    </ul>
    <script>
        $(document).ready(function () {
            @try
            {
                foreach (var pool in p)
                {
                    var dname = pool.virStoragePoolGetName();
                    Libvirt._virStoragePoolInfo info;
                    pool.virStoragePoolGetInfo(out info);
                    var li_id = "x" + ViewBag.HostName.Replace(".", "_") + "StoragePools_" + dname;
            <text>
            context.attach('#@(li_id)', [{ text: "<div class='add_icon'>New Volume</div>", action: function () { Libvirt.UI.OpenDialog('@Url.Action("_Partial_NewDomain", "Domain", new { host = ViewBag.HostName })'); } }]);
            </text>

                pool.Dispose();
                }
            }
            catch (Exception e)
            {

            }
        });
    </script>
}

