@model Libvirt_WebManager.Areas.Domain.Models.Domain_List_Down

<div class="page-header">
    <h2>
        Domains
        <a href="#" class="btn btn-primary" title="Add New Domain" onclick="Libvirt.UI.OpenDialog('@Html.Raw(Url.Action("_Partial_Create", "Create", new { Area="Domain", host = Model.Host }))');return false;"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
    </h2>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Max Mem
                    </th>
                    <th>
                        Used Memory
                    </th>
                    <th>
                       # Vcpus
                    </th>
                    <th>
                        State
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Domains)
                {
                    @Html.Partial("_Partial_TableRowDetails", new Libvirt_WebManager.Areas.Domain.Models.Domain_Down { Host = Model.Host, Parent = Model.Host, Domain = item }  )
                }
            </tbody>
        </table>
    </div>
</div>


