@model Libvirt_WebManager.Areas.Domain.Models.PoolVolume_Selector_Down

<div id="_Partial__Partial_OS_PoolVolume_Selector_Form">
    <script>
        $(document).ready(function () {
            $('#poollistingselector1234 > a').first().click();
        });
    </script>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Select Storage</h4>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-sm-4" id="poollistingselector1234">
                <h3>Available Pools</h3>
                @foreach (var item in Model.Pools)
                {
                    var name = item.virStoragePoolGetName();
                    var disabledstring = item.virStoragePoolIsActive() == 0 ? "disabled='disabled'" : "";

                    <a href="@Url.Action("_Partial_OS_Volume_Selector", new Libvirt_WebManager.Areas.Domain.Models.BasePoolVolume_Selector { Host=Model.Host, Parent = name, PoolSelector = Model.PoolSelector, Select_ISO = Model.Select_ISO, VolumeSelector = Model.VolumeSelector })" class="btn btn-default btn-block" @disabledstring data-ajax-update="#volumearealistingosupdate" data-ajax-mode="replace" data-ajax="true">
                        @name
                    </a>
                }
            </div>
            <div class="col-sm-8">
                <div id="volumearealistingosupdate">
             
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</div>
