


<script>
    function AddHost(hostname) {

    }
    function registercallsbacks(id) {
        $('#item-' + id).change(function () {
            if ($(this).is(':checked')) {
                var t = $(this).attr('data-urlpart');
                var liemenet = $(this).parent();
                $.get(t, function (data) {
                    $(liemenet).append(data);
                });
            } else {
                $(this).parent().children('ul').remove();//remove any children
                $(this).parent().children('script').remove();//remove any children
            }
        }).parent().children('label').first().dblclick(function () {
            $("#item-" + id).prop('checked', !$("#item-" + id).prop('checked'));
            $("#item-" + id).change();
            return false;
        }).children('span').first().click(function () {
            $("#item-" + id).prop('checked', !$("#item-" + id).prop('checked'));
            $("#item-" + id).change();
            return false;
        });
    }

    $(document).ready(function () {
        $('#hosttreeul').load('@Url.Action("_Partial_GetHosts", "TreeListing", new { Area="Host" })');
    });
</script>
<div class="row">
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary btn-xs" onclick="Libvirt.UI.OpenDialog_sm('@Url.Action("_Partial_Create", "Create", new { Area="Host" })'); return false;">New Host</button>
        <h3>Hosts</h3>

        <div id="newhostingarea">
            <div id="hosttreeul" class="tree">
            </div>
        </div>
    </div>
</div>

