@model Dictionary<string, Libvirt.CS_Objects.Host>

@if (Model.Any())
{
    <ul>
        @foreach (var item in Model)
        {
            var li_id = "x" + item.Key.Replace(".", "_");
       
            <li id="@(li_id)">
                <input type="checkbox" id="item-@(li_id)" data-urlpart="@Url.Action("_Partial_GetHostChildren", "TreeListing", new { Area="Host", host = item.Key })" />
                <label for="item-@(li_id)" onclick="LoadMainContent('@Url.Action("_Partial_MainContent", "Listing", new {Area="Host", host = item.Key})');return false;"><span></span><span class="icon host_icon"></span>@item.Key</label>
            </li>
        }
    </ul>
    <script>
        $(document).ready(function () {
            @foreach(var item in Model)
            {
                var li_id = "x" + item.Key.Replace(".", "_");
              <text>registercallsbacks('@li_id');</text>
            }
        });
    </script>
}



