@model Libvirt_WebManager.ViewModels.Domain.PoolVolume_Selector
<script>
    function ospoolselected() {
        $('.OS_Volume_drp').hide();
        $('#' + $('#OS_Pool_Selector').val()).show();
        $('#').val($('#OS_Pool_Selector').val());
    }
    function UpdateSelectors() {
        $('#').val($('#OS_Pool_Selector').val());
        $('#').val($('.OS_Volume_drp').filter(':visible').first().val());
    }
    $(document).ready(function () {
        ospoolselected();
    });
</script>
<h3>Available Volumes</h3>
<table class="table table-striped table-striped table-responsive table-hover table-condensed table-bordered">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th title="Actual amount of space used by the volume.">Allocation</th>
            <th title="Amount of space the Volume is allowed to grow into.">Capacity</th>
            <th>Type</th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vol in Model.Volumes)
        {
            Libvirt._virStorageVolInfo info;
            vol.virStorageVolGetInfo(out info);
            
            <tr>
                <td>@vol.virStorageVolGetName()</td>
                <td>@Libvirt_WebManager.Utilities.String.Formatting.Format((long)info.allocation)</td>
                <td>@Libvirt_WebManager.Utilities.String.Formatting.Format((long)info.capacity)</td>
                <td>@info.type.ToString().Split('_').LastOrDefault()</td>
                <td><a href="#"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span></a></td>
            </tr>
            vol.Dispose();
        }

    </tbody>
</table>
