@model Libvirt.CS_Objects.Domain


<div class="row">
    <div class="col-sm-12">

        <a title="Delete" href="#" class="btn btn-xs btn-danger">
            <i class="fa fa-trash"></i>
        </a>
        <a class="btn btn-xs btn-primary" title="Start Pool: This will start the pool, making all child volumes usable."  href="#"><i class="fa fa-play"></i></a>
        <a class="btn btn-xs btn-warning" title="Stop Pool: This will stop the pool making all child volumes un-usable!" href="#"><i class="fa fa-stop"></i></a>
    </div>
</div>


