.tree {
    font: normal 11px "Segoe UI", Arial, Sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

    .tree > ul {
        padding: 0;
        margin: 0;
    }

    .tree li > ul {
        padding-left: 20px;
    }

    .tree li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative;
    }

    .tree input {
        height: 10px;
    }

    .tree li::before, .tree li::after {
        content: '';
        left: -15px;
        position: absolute;
        right: auto;
    }

    .tree li::before {
        border-left: 1px solid #999;
        bottom: 20px;
        height: 100%;
        top: 0;
        width: 1px;
    }

    .tree li::after {
        border-top: 1px solid #999;
        height: 10px;
        top: 10px;
        width: 15px;
    }

    .tree label:hover {
        background-color: lightblue;
    }

    .tree a:hover {
        background-color: lightblue;
    }

    .tree li label {
        display: inline-block;
        margin: 0;
        text-decoration: none;
    }

    .tree > ul > li::before, .tree > ul > li::after {
        border: 0;
    }

    .tree li:last-child::before {
        height: 10px;
    }

    .tree input:disabled + label {
        cursor: default;
        opacity: .6;
    }

    .tree input[type=checkbox] {
        display: none;
    }

        .tree input[type=checkbox]:checked + label span:first-child {
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url('../images/minus-tree-checkbox.png') bottom no-repeat !important;
        }

        .tree input[type=checkbox] + label span:first-child {
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url('../images/plus-tree-checkbox.png') bottom no-repeat !important;
        }

    .tree .icon {
        padding: 10px;
    }

    .tree .host_icon {
        background: url(/images/server_multiple.png) left no-repeat;
        background-size: 18px;
    }

    .tree .domain_icon {
        background: url(/images/monitor.png) left top no-repeat;
        background-size: 18px;
    }

    .tree .domains_icon {
        background: url(/images/connect_established.png) left no-repeat;
        background-size: 18px;
    }

    .tree .interfaces_icon {
        background: url(/images/ethernet_card_vista.png) left no-repeat;
        background-size: 18px;
    }

    .tree .storage_pools_icon {
        background: url(/images/storage_pools.png) left no-repeat;
        background-size: 18px;
    }

    .tree .storage_pool_icon {
        background: url(/images/pool.png) left no-repeat;
        background-size: 18px;
    }

    .tree .storage_volume_iso_icon {
        background: url(/images/cd.png) left no-repeat;
        background-size: 18px;
    }

    .tree .storage_volume_icon {
        background: url(/images/harddrive.png) left no-repeat;
        background-size: 18px;
    }

.pie-legend > li > span {
padding:5px;
height:10px;
}

.field-validation-error {
    color: #a94442;
}

.validation-summary-errors li {
    color: #a94442;
}

.input-validation-error {
    border-color: #a94442;
}

.windows8_spinner {
    position: relative;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    display: none;
}

    .windows8_spinner .wBall {
        position: absolute;
        width: 19px;
        height: 19px;
        opacity: 0;
        -webkit-transform: rotate(225deg);
        -webkit-animation: orbit 7.15s infinite;
        -ms-transform: rotate(225deg);
        -ms-animation: orbit 7.15s infinite;
        -moz-transform: rotate(225deg);
        -o-transform: rotate(225deg);
        transform: rotate(225deg);
        -moz-animation: orbit 7.15s infinite;
        -o-animation: orbit 7.15s infinite;
        animation: orbit 7.15s infinite;
    }

        .windows8_spinner .wBall .wInnerBall {
            position: absolute;
            width: 3px;
            height: 3px;
            background: #FFFFFF;
            left: 0px;
            top: 0px;
            -webkit-border-radius: 3px;
            -ms-border-radius: 3px;
            border-radius: 3px;
        }

    .windows8_spinner #wBall_1 {
        -webkit-animation-delay: 1.56s;
        -ms-animation-delay: 1.56s;
        -moz-animation-delay: 1.56s;
        -o-animation-delay: 1.56s;
        animation-delay: 1.56s;
    }

    .windows8_spinner #wBall_2 {
        -webkit-animation-delay: 0.31s;
        -ms-animation-delay: 0.31s;
        -moz-animation-delay: 0.31s;
        -o-animation-delay: 0.31s;
        animation-delay: 0.31s;
    }

    .windows8_spinner #wBall_3 {
        -webkit-animation-delay: 0.62s;
        -ms-animation-delay: 0.62s;
        -moz-animation-delay: 0.62s;
        -o-animation-delay: 0.62s;
        animation-delay: 0.62s;
    }

    .windows8_spinner #wBall_4 {
        -webkit-animation-delay: 0.94s;
        -ms-animation-delay: 0.94s;
        -moz-animation-delay: 0.94s;
        -o-animation-delay: 0.94s;
        animation-delay: 0.94s;
    }

    .windows8_spinner #wBall_5 {
        -webkit-animation-delay: 1.25s;
        -ms-animation-delay: 1.25s;
        -moz-animation-delay: 1.25s;
        -o-animation-delay: 1.25s;
        animation-delay: 1.25s;
    }

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
        -o-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -moz-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
        -o-transform: rotate(300deg);
        transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
        -o-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-origin: 0%;
    }

    30% {
        opacity: 1;
        -webkit-transform: rotate(410deg);
        -moz-transform: rotate(410deg);
        -ms-transform: rotate(410deg);
        -o-transform: rotate(410deg);
        transform: rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -moz-animation-timing-function: ease-in-out;
        -o-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-origin: 7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -moz-transform: rotate(645deg);
        -ms-transform: rotate(645deg);
        -o-transform: rotate(645deg);
        transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
        -o-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-origin: 30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -moz-transform: rotate(770deg);
        -ms-transform: rotate(770deg);
        -o-transform: rotate(770deg);
        transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
        -o-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-origin: 39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -moz-transform: rotate(900deg);
        -ms-transform: rotate(900deg);
        -o-transform: rotate(900deg);
        transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
        -o-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -webkit-origin: 70%;
    }

    76% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
        -moz-transform: rotate(900deg);
        -ms-transform: rotate(900deg);
        -o-transform: rotate(900deg);
        transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
        -moz-transform: rotate(900deg);
        -ms-transform: rotate(900deg);
        -o-transform: rotate(900deg);
        transform: rotate(900deg);
    }
}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -ms-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
        -o-animation-timing-function: ease-out;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -moz-transform: rotate(300deg);
        -o-transform: rotate(300deg);
        -webkit-transform: rotate(300deg);
        transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
        -o-animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -ms-origin: 0%;
    }

    30% {
        opacity: 1;
        -ms-transform: rotate(410deg);
        -moz-transform: rotate(410deg);
        -o-transform: rotate(410deg);
        -webkit-transform: rotate(410deg);
        transform: rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -moz-animation-timing-function: ease-in-out;
        -o-animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -ms-origin: 7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -moz-transform: rotate(645deg);
        -o-transform: rotate(645deg);
        -webkit-transform: rotate(645deg);
        transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
        -o-animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -ms-origin: 30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -moz-transform: rotate(770deg);
        -o-transform: rotate(770deg);
        -webkit-transform: rotate(770deg);
        transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
        -o-animation-timing-function: ease-out;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -ms-origin: 39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -moz-transform: rotate(900deg);
        -o-transform: rotate(900deg);
        -webkit-transform: rotate(900deg);
        transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
        -o-animation-timing-function: ease-out;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        -ms-origin: 70%;
    }

    76% {
        opacity: 0;
        -ms-transform: rotate(900deg);
        -moz-transform: rotate(900deg);
        -o-transform: rotate(900deg);
        -webkit-transform: rotate(900deg);
        transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
        -moz-transform: rotate(900deg);
        -o-transform: rotate(900deg);
        -webkit-transform: rotate(900deg);
        transform: rotate(900deg);
    }
}

@keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
        -o-animation-timing-function: ease-out;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
        -o-transform: rotate(300deg);
        -webkit-transform: rotate(300deg);
        transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -o-animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        origin: 0%;
    }

    30% {
        opacity: 1;
        -moz-transform: rotate(410deg);
        -ms-transform: rotate(410deg);
        -o-transform: rotate(410deg);
        -webkit-transform: rotate(410deg);
        transform: rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -o-animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        origin: 7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -ms-transform: rotate(645deg);
        -o-transform: rotate(645deg);
        -webkit-transform: rotate(645deg);
        transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -o-animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        origin: 30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -ms-transform: rotate(770deg);
        -o-transform: rotate(770deg);
        -webkit-transform: rotate(770deg);
        transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -o-animation-timing-function: ease-out;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        origin: 39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -ms-transform: rotate(900deg);
        -o-transform: rotate(900deg);
        -webkit-transform: rotate(900deg);
        transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -o-animation-timing-function: ease-out;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        origin: 70%;
    }

    76% {
        opacity: 0;
        -moz-transform: rotate(900deg);
        -ms-transform: rotate(900deg);
        -o-transform: rotate(900deg);
        -webkit-transform: rotate(900deg);
        transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
        -ms-transform: rotate(900deg);
        -o-transform: rotate(900deg);
        -webkit-transform: rotate(900deg);
        transform: rotate(900deg);
    }
}

.ui-resizable-helper {
    border: 1px dotted gray;
}

.resizable {
    width: 100%;
    height: 400px;
    padding: 30px;
    border: 2px solid gray;
    overflow: hidden;
    position: relative;
}

#main_content_area {
    min-height: 500px;
}


#sl_ko_logarea .table {
    table-layout: fixed;
}

    #sl_ko_logarea .table td > a {
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
    }

.dropdown-menu .add_icon {
    background: url(/images/add.png) left top no-repeat;
    background-size: 18px;
    padding-left: 18px;
}

.dropdown-menu .refresh_icon {
    background: url(/images/add.png) left top no-repeat;
    background-size: 18px;
    padding-left: 18px;
}

.dropdown-menu .connect_icon {
    background: url(/images/connect_established.png) left top no-repeat;
    background-size: 18px;
    padding-left: 18px;
}

.dropdown-menu .start_icon {
    background: url(/images/player_play.png) left top no-repeat;
    background-size: 18px;
    padding-left: 18px;
}

.dropdown-menu .stop_icon {
    background: url(/images/stop1normalred.png) left top no-repeat;
    background-size: 18px;
    padding-left: 18px;
}

.dropdown-menu .pause_icon {
    background: url(/images/player_play.png) left top no-repeat;
    background-size: 18px;
    padding-left: 18px;
}

.dropdown-menu .shutdown_icon {
    background: url(/images/connect_creating_256.png) left top no-repeat;
    background-size: 18px;
    padding-left: 18px;
}

.dropdown-menu .migrate_icon {
    background: url(/images/ic_arrow_round_move_down.png) left top no-repeat;
    background-size: 18px;
    padding-left: 18px;
}

.dropdown-menu .edit_icon {
    background: url(/images/pencil.png) left top no-repeat;
    background-size: 18px;
    padding-left: 18px;
}

.dropdown-menu .delete_icon {
    background: url(/images/deletered.png) left top no-repeat;
    background-size: 18px;
    padding-left: 18px;
}

.dropdown-menu .disconnect_icon {
    background: url(/images/disconnect.png) left top no-repeat;
    background-size: 18px;
    padding-left: 18px;
}

.dropdown-menu .settings_icon {
    background: url(/images/applications_system.png) left top no-repeat;
    background-size: 18px;
    padding-left: 18px;
}

.dropdown-menu .details_icon {
    background: url(/images/document_properties.png) left top no-repeat;
    background-size: 18px;
    padding-left: 18px;
}

.dropdown-menu .disconnect_icon {
    background: url(/images/disconnect.png) left top no-repeat;
    background-size: 18px;
    padding-left: 18px;
}

.tree LI.selected > a {
    font-weight: bold;
}

.tree A {
    color: #333;
    text-decoration: none;
    display: inline-block;
    padding: 0 2px;
}

    .tree A:hover {
        background: #BDF;
    }
