@model Libvirt_WebManager.Areas.Domain.Models.Domain_List_Down

<ul>
    @foreach (var d in Model.Domains)
    {
        var dname = d.virDomainGetName();
        Libvirt._virDomainInfo info;
        d.virDomainGetInfo(out info);

        <li>

            @if (info.state == Libvirt.virDomainState.VIR_DOMAIN_RUNNING)
                {
                <i class="fa fa-desktop"></i>
            }
            else
            {   <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>

            }
            <a href="#" onclick="LoadMainContent('@Url.Action("_Partial_IndexMainContent", "Edit", new {Area="Domain", host = Model.Host, domain = dname})');return false;" data-html="true" data-toggle="tooltip" data-placement="right" title="Pool:@dname<br>Status:@info.state.ToString().Split('_').LastOrDefault()">@dname</a>

        </li>
    }
</ul>

